{% extends 'frontbase.html.twig' %}

    {% block title %}    Login - {{ data[0].title }}         {% endblock %}
{% block keywords %}        {{ data[0].keywords }}      {% endblock %}
{% block description %}     {{ data[0].description }}      {% endblock %}
{% block sidebar %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include ('home/user_sidebar.html.twig') %}
    {% endif %}
{% endblock %}
{% block body %}


    <section id="form"><!--form-->


        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-sm-4 col-sm-offset-1">
                <p><strong style="color: darkcyan">İsim: {{ app.user.name }}</strong></p>
                <p><strong style="color: darkcyan">E-mail: {{ app.user.email }} </strong></p>
                <p><strong style="color: darkcyan">  Üye Sınıfı  </strong></p>
                {% for item in app.user.roles  %}
                    <p><strong style="color: darkcyan">  {{ item }}  </strong></p>

                {% endfor %}
        </div>
            {% else %}
                <div class="col-sm-1 col-sm-offset-3" style="width:350px">
                    <div class="login-form"><!--login form-->
                        <h1 style="color: black"> GİRİŞ YAP</h1>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Şifre" required>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                            <button class="btn btn-lg btn-primary" type="submit">
                                Giriş
                            </button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-offset-8">

                    <a href="{{ path('new_user') }}"><h2 class="or">B<strong style="color:black">S</strong> </h2></a>
                    <strong style="color:black">Kayıt ol</strong>
                </div>
            {% endif %}
        </div>


    </section>

{% endblock %}