<!DOCTYPE html>
<html lang=tr>
<head>
    <title>{% block title %} Shopping{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<title>{% block description %} description{% endblock %}</title>">
    <meta name="keywords" content="<title>{% block keywords %} keywords {% endblock %}</title>">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="{{ asset('assets') }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/css/price-range.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/css/animate.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/css/main.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('assets') }}/js/html5shiv.js"></script>
    <script src="{{ asset('assets') }}/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('assets') }}/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets') }}/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets') }}/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="{{ asset('assets') }}/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets') }}/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="{{ path('home') }}"><img src="{{ asset('uploads') }}/images/a3.png" alt="" /></a>
                    </div>

                </div>
                <div class="col-sm-8">

                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('userpanel_show') }}"><i class="fa fa-user"></i> {{ app.user.name }}</a></li>
                                <li><a href="{{ path('vidiyou') }}"><i class="fa fa-star">VidiYou</i></a></li>
                                <li><a href="{{ path('shopcard_index') }}"><i class="fa fa-shopping-cart"></i> Sepetim</a></li>
                                <li><a href="{{ path('iletisim') }}"><i class="fa fa-mail-forward"> İletişim</i></a></li>
                                <li><a href="{{ path('hakkimizda') }}"><i class="fa fa-book">Hakkımızda</i></a></li>
                                <li><a href="{{ path('app_logout') }}"><i class="fa fa-lock"></i>Çıkış</a></li>
                            {% else %}

                                <li><a href="{{ path('vidiyou') }}"><i class="fa fa-star">VidiYou</i></a></li>
                                <li><a href="{{ path('iletisim') }}"><i class="fa fa-mail-forward"> İletişim</i></a></li>
                                <li><a href="{{ path('hakkimizda') }}"><i class="fa fa-book">Hakkımızda</i></a></li>
                                <li>
                                     <a href="{{ path('app_login') }}"> <strong style="color: darkorange"> </strong><i class="fa fa-unlock-alt"></i>Giriş</a>
                                </li>
                                <li><a href="{{ path('new_user') }}"><i class="fa  fa-plus " ><strong class="fa-user"></strong> </i> Üye Ol</a></li>

                            {% endif %}
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                {% include ('messages.html.twig') %}
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->
{% block slider %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}{% endblock %}
{% block body %}{% endblock %}
{% block contact %}{% endblock %}

<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-sm-7">
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="{{ asset('assets') }}/images/home/map.png" alt="" />
                        <p>Dünyanın Her yerinde <strong style="color: darkorange">Black</strong><strong>Stone</strong> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left"></p>
                <p class="pull-right">Designed by <span><a target="_blank" href="https://www.instagram.com/ozcanarpaciii/">Özcan  Arpaci</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
<script src="{{ asset('assets') }}/js/jquery.js"></script>
<script src="{{ asset('assets') }}/js/bootstrap.min.js"></script>
<script src="{{ asset('assets') }}/js/jquery.scrollUp.min.js"></script>
<script src="{{ asset('assets') }}/js/price-range.js"></script>
<script src="{{ asset('assets') }}/js/jquery.prettyPhoto.js"></script>
<script src=" {{ asset('assets') }}/js/main.js"></script>
</body>
</html>