<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">parfüm</h2>
                    {% for rs in cont %}
                        <div class="col-sm-4" style="height: 500px" style="width: 350px" >
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img  src="{{ asset('uploads') }}/images/{{ rs.image }}" alt="" >
                                        <h2>₺{{ rs.saprice }}</h2>
                                        <p>{{ rs.title }}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ürün Detayı</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>₺{{ rs.saprice }}</h2>
                                            <p>{{ rs.title }}</p>
                                            <a href="{{ path('product_detail', {'id': rs.id}) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ürün Detayı</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>