{% extends 'frontbase.html.twig' %}

{% block title %}   Shopcart    {% endblock %}


{% block body %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Sepetim</li>
                </ol>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Ürün</td>
                        <td class="bos"></td>
                        <td class="description"></td>
                        <td class="price">Fiyat</td>
                        <td class="quantity">Adet Sayısı</td>
                        <td class="total">Toplam</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shopcard in shopcards %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="{{ asset('uploads') }}/images/{{ shopcard.image }}" height="110" width="110" alt=""></a>
                        </td>
                        <td> <strong style="color: white"> </strong></td>
                        <td class="cart_description">
                            <strong style="color: darkorange">{{ shopcard.title }}</strong>
                            <p>{{ shopcard.description }}</p>
                        </td>
                        <td class="cart_price">
                            <p>₺{{  shopcard.saprice  }}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="shopcard[quantity]" value="{{ shopcard.quantity }}" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">₺{{ shopcard.quantity * shopcard.saprice  }}</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="{{ path('shopcard_del', {'id': shopcard.id}) }} " onclick="return confirm('Silmek İstediğinden Emin misin?');" ><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Ürün bulunamadı</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('orders_new') }}" class="btn btn-block btn-success btn-large">Satın Al</a>
            </div>
        </div>
    </section>
{% endblock %}
